/* Colors var */

:root {
  --dark-primary-background: #212529;
  --dark-secondary-background: #343a40;
  --dark-text-color: #f8f9fa;
}

/* Startbootstrap code */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Custom styles */

.logo {
  font-family: "Pacifico", cursive !important;
  font-size: large;
  color: var(--dark-primary-background) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link-text,
thead {
  font-family: "Roboto Serif", serif;
  color: var(--dark-primary-background) !important;
}

p,
a,
th,
td,
tr,
.btn,
li {
  font-family: "Roboto", sans-serif !important;
  color: var(--dark-secondary-background) !important;
}

.input-group-text {
  min-width: 20%;
}

.btn {
  color: var(--dark-text-color) !important;
}

.clickable-row {
  cursor: pointer;
}

.custom-card-img {
  max-height: 400px !important;
  width: auto;
  object-fit: contain;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dkxnaehyl/image/upload/v1692748719/pngwing.com_lp4nse.png");
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.02;
  z-index: -1;
}

.dark-primary-background {
  background-color: var(--dark-primary-background);
  font-style: var(--dark-text-color);
}

.dark-secondary-background {
  background-color: var(--dark-secondary-background);
  font-style: var(--dark-text-color);
}

/* Media queries */
@media (max-width: 1000px) {
  .container-fluid {
    margin: 0px !important;
    padding: 0px !important;
  }

  .table {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }

  thead,
  th,
  td,
  tr {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    font-size: small;
  }

  .id-style {
    width: 20px;
  }
}
