{% extends "base.html" %} {% block content %}
<!-- About me  -->
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">Aspiring Junior Full Stack Developer</p>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Hi there, my name is Freedy! I'm a dedicated and passionate aspiring
        Junior Full Stack Developer on a journey to learn and grow in the world
        of web development. Currently, I am working on a CRM project using
        Django and Bootstrap, and I'm excited to share my progress and
        experiences with you.
      </li>
      <li class="list-group-item">
        With a strong enthusiasm for coding and problem-solving, I'm eager to
        explore the depths of both front-end and back-end development. I believe
        that continuous learning and hands-on experience are key to mastering
        the art of building user-friendly and efficient web applications.
      </li>
      <li class="list-group-item">
        This space is dedicated to documenting my journey as I develop my
        skills, tackle challenges, and contribute to meaningful projects. Join
        me as I navigate through the world of web development, share insights,
        and connect with fellow developers.
      </li>
      <li class="list-group-item">
        Let's work together to create innovative solutions, embrace new
        technologies, and build a brighter future in the digital realm!
      </li>
    </ul>
  </div>
</div>
{% endblock %}