{% extends 'base.html' %} {% block content %}

<div class="card row p-2 m-2 mb-3">
  <h1 class="text-center">Add Customer</h1>
  <form
    method="post"
    enctype="multipart/form-data"
    action="{% url 'add_customer' %}"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Full Name:</span>
                {{ form.full_name }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Job Title:</span>
                {{ form.job_title }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Company:</span>
                {{ form.company }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Email:</span>
                {{ form.email }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Address:</span>
                {{ form.address }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">City:</span>
                {{ form.city }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Country:</span>
                {{ form.country }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Postcode:</span>
                {{ form.postcode }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Content:</span>
                {{ form.content }}
              </div>
            </li>
            <li class="list-group-item">{{ form.user }}</li>
            <li class="list-group-item">
              <div class="input-group mb-3">
                <span class="input-group-text">Profile Picture:</span>
                {{ form.profile_picture }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-success">Add Customer</button>
        <a href="{% url 'customer_list' %}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </form>
</div>

{% endblock %}
