{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <h1 class="my-4">Welcome {{user.username}}</h1>
    <p class="my-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, ad,
      tempore consectetur sit unde inventore laborum non ipsum quasi repellendus
      qui totam numquam ipsa facilis ducimus sint accusantium possimus
      veritatis!
    </p>
    <p class="my-4">
      Esse architecto inventore modi beatae, numquam totam odit rem consequuntur
      aliquid accusantium non enim consequatur cupiditate animi obcaecati
      laboriosam tempore atque delectus, tempora maiores. Doloribus illo
      possimus explicabo eaque quo?
    </p>
    <p class="my-4">
      Quo delectus rerum reiciendis nemo? Deleniti adipisci eveniet delectus
      odio iure illum labore ipsa itaque vitae odit debitis dignissimos
      accusantium ex, enim incidunt. Ratione id ab aperiam molestias. Cumque,
      velit!
    </p>
    <p class="my-4">
      Quisquam at animi cupiditate sint quos ipsa dolorum perferendis, quo
      veritatis ratione non sequi dolore! Consequatur optio non voluptate
      accusantium pariatur quas placeat, eaque voluptatem quasi consectetur
      magni velit incidunt!
    </p>
    <p class="my-4">
      Esse architecto inventore modi beatae, numquam totam odit rem consequuntur
      aliquid accusantium non enim consequatur cupiditate animi obcaecati
      laboriosam tempore atque delectus, tempora maiores. Doloribus illo
      possimus explicabo eaque quo?
    </p>
    <p class="my-4">
      Quo delectus rerum reiciendis nemo? Deleniti adipisci eveniet delectus
      odio iure illum labore ipsa itaque vitae odit debitis dignissimos
      accusantium ex, enim incidunt. Ratione id ab aperiam molestias. Cumque,
      velit!
    </p>
    <p class="my-4">
      Quisquam at animi cupiditate sint quos ipsa dolorum perferendis, quo
      veritatis ratione non sequi dolore! Consequatur optio non voluptate
      accusantium pariatur quas placeat, eaque voluptatem quasi consectetur
      magni velit incidunt!
    </p>
  </div>
</div>

{%endblock%}
